christianfinancesdb.database.windows.net

In [ ]:
 -- START CHANGES
 BEGIN TRANSACTION;

In [ ]:
 -- END CHANGES
-- ROLLBACK TRANSACTION;
-- COMMIT TRANSACTION;

In [4]:
 -- Display Account Totals
 SELECT * FROM AccountTotals;

-- CREATE VIEW AccountTotals
-- AS 
-- SELECT Account, SUM(Amount) AS TotalAmount
-- FROM Transactions
-- GROUP BY Account;

-- 8887 - Navy Checking
-- 5260 - Navy Savings
-- 3601 - Navy CD
-- 8818 - Navy Credit
-- 3505 - Schwab Checking
-- 2428 - Schwab Rent
-- 0287 - Costco Credit
-- 1815 - Amazon Credit
-- 0500 - United Credit (cancelled)
-- 3741 - Marriott Credit
-- 5912 - EDD
-- 0780 - EBT
-- 2688 - Schwab Regular Brokerage
-- 2406 - Schwab Intelligent Brokerage
-- 6376 - Schwab Roth IRA

Account,TotalAmount
2688,11034.20
2428,3033.51
0500,0.00
-,-4969.57
5260,10.26
3741,-1046.27
6376,17023.87
3601,3076.03
1815,-272.07
3505,202.37
2406,18100.00
0287,-1472.36
8818,-189.99
8887,67135.02
venmo,60.76

In [ ]:
 -- Total by month given account
DECLARE @AccountNumber VARCHAR(10);
SET @AccountNumber = '0287';
WITH DateList AS (
  SELECT BeforeDate FROM (VALUES 
('2018-01-01'), ('2018-02-01'), ('2018-03-01'), ('2018-04-01'), ('2018-05-01'), ('2018-06-01'), ('2018-07-01'), ('2018-08-01'), ('2018-09-01'), ('2018-10-01'), ('2018-11-01'), ('2018-12-01'),
('2019-01-01'), ('2019-02-01'), ('2019-03-01'), ('2019-04-01'), ('2019-05-01'), ('2019-06-01'), ('2019-07-01'), ('2019-08-01'), ('2019-09-01'), ('2019-10-01'), ('2019-11-01'), ('2019-12-01'),
('2020-01-01'), ('2020-02-01'), ('2020-03-01'), ('2020-04-01'), ('2020-05-01'), ('2020-06-01'), ('2020-07-01'), ('2020-08-01'), ('2020-09-01'), ('2020-10-01'), ('2020-11-01'), ('2020-12-01'),
('2021-01-01'), ('2021-02-01'), ('2021-03-01'), ('2021-04-01'), ('2021-05-01'), ('2021-06-01'), ('2021-07-01'), ('2021-08-01'), ('2021-09-01'), ('2021-10-01'), ('2021-11-01'), ('2021-12-01'),
('2022-01-01'), ('2022-02-01'), ('2022-03-01'), ('2022-04-01'), ('2022-05-01'), ('2022-06-01'), ('2022-07-01'), ('2022-08-01'), ('2022-09-01'), ('2022-10-01'), ('2022-11-01'), ('2022-12-01'),
('2023-01-01'), ('2023-02-01'), ('2023-03-01'), ('2023-04-01'), ('2023-05-01'), ('2023-06-01'), ('2023-07-01'), ('2023-08-01'), ('2023-09-01'), ('2023-10-01'), ('2023-11-01'), ('2023-12-01'),
('2024-01-01'), ('2024-02-01'), ('2024-03-01'), ('2024-04-01'), ('2024-05-01'), ('2024-06-01') , ('2024-07-01'), ('2024-08-01'), ('2024-09-01')--, ('2024-10-01'), ('2024-11-01'), ('2024-12-01'),
-- ('2025-01-01'), ('2025-02-01'), ('2025-03-01'), ('2025-04-01'), ('2025-05-01'), ('2025-06-01'), ('2025-07-01'), ('2025-08-01'), ('2025-09-01'), ('2025-10-01'), ('2025-11-01'), ('2025-12-01')
) AS DateList(BeforeDate))
SELECT dl.BeforeDate, SUM(yt.Amount) AS TotalAmount
FROM DateList dl CROSS JOIN Transactions yt
WHERE (yt.Account = @AccountNumber) AND yt.DateTracked < dl.BeforeDate
GROUP BY dl.BeforeDate ORDER BY dl.BeforeDate DESC;

In [ ]:
 -- Select Month of Transactions by DateTracked
EXEC SelectRecordsByMonth @year = 2024, @month = 4;

-- CREATE PROCEDURE SelectRecordsByMonth
--     @year INT,
--     @month INT
-- AS
-- BEGIN
--     SET NOCOUNT ON;

--     DECLARE @startDate DATE, @endDate DATE;
--     SET @startDate = DATEFROMPARTS(@year, @month, 1);
--     SET @endDate = DATEADD(DAY, -1, DATEADD(MONTH, 1, @startDate));

--     SELECT *
--     FROM [dbo].[Transactions]
--     WHERE [DateTracked] BETWEEN @startDate AND @endDate
--     ORDER BY DateTracked;
-- END;

In [ ]:
 -- Total by Specific Date
DECLARE @AccountNumber VARCHAR(10);
DECLARE @Date DATE;
SET @AccountNumber = '8887';
SET @Date = '2024-05-01';
SELECT SUM(Amount) FROM Transactions
WHERE Account = @AccountNumber AND DateTracked < @Date;

In [ ]:
 -- Select by Tag
DECLARE @Tag VARCHAR(100);
-- SET @Tag = '%Roth%';
-- SELECT * FROM [dbo].[Transactions] WHERE Tags LIKE @Tag
SELECT * FROM [dbo].[Transactions] WHERE Amount LIKE '%.79%'
ORDER BY DateTracked DESC;

In [ ]:
 -- Dispay All Sorted from Account
DECLARE @Account VARCHAR(5);
SET @Account = '0287';

SELECT * FROM [dbo].[Transactions]
WHERE Account = @Account
ORDER BY DateTracked DESC;

In [ ]:
 -- Fill Empty DateTracked
UPDATE [dbo].[Transactions]
SET DateTracked = ActualDate
WHERE DateTracked is NULL;

In [ ]:
 -- Display Categories Totals
 SELECT * FROM Categories;

-- CREATE VIEW Categories
-- AS 
-- SELECT Category, SUM(Amount) AS TotalAmount
-- FROM Transactions
-- GROUP BY Category;

In [ ]:
 -- Change Value
DECLARE @Key INT;
DECLARE @Column VARCHAR(20);
DECLARE @Value VARCHAR(50);
-----
SET @Key = 1816;
SET @Column = 'DateTracked';
SET @Value = '2024-05-31';
-----
DECLARE @SQL NVARCHAR(MAX);
SET @SQL = N'UPDATE Transactions SET ' + QUOTENAME(@Column) + ' = @dynValue WHERE pKey = @dynKey';
EXEC sp_executesql @SQL, N'@dynKey INT, @dynValue DATETIME', @dynKey = @Key, @dynValue = @Value;

In [ ]:
-- Get Constraints
SELECT 
    cc.name AS ConstraintName,
    OBJECT_NAME(cc.parent_object_id) AS Transactions,
    COL_NAME(cc.parent_object_id, cc.parent_column_id) AS Account
FROM 
    sys.check_constraints AS cc
WHERE 
    OBJECT_NAME(cc.parent_object_id) = 'Transactions';

In [ ]:
-- Add Constraint
ALTER TABLE dbo.Transactions
ADD CONSTRAINT [ConstraintName]  -- Use the same or a new constraint name
CHECK (
    Account IN (
        '-', '2428', '3505', 'venmo', '0780', '5913', '3741', '0500', '1815', 
        '0287', '8818', '3601', '5260', '8887', '1234', '5678'  -- Include new values
    )
);

In [ ]:
-- Insert Rows
INSERT INTO [dbo].[Transactions]
( -- Columns to insert data into
 [ActualDate], [DateTracked], [Description], [Category], [Account], [Amount], [Tags]
)
VALUES
(
 '07/31/2024', '07/31/2024', 'Transfer from Schwab Regular', 'Transfer', '2688', -$3600.00, 'Brokerage ; Regular'
),
(
 '07/31/2024', '07/31/2024', 'Transfer from Schwab Intelligent', 'Transfer', '2406', -$1600.00, 'Brokerage ; Intelligent'
),
(
 '07/23/2024', '07/23/2024', 'Transfer from Schwab Regular', 'Transfer', '2688', -$5100.00, 'Brokerage ; Regular'
),
(
 '07/26/2024', '07/26/2024', 'Transfer from Schwab Intelligent', 'Transfer', '2406', -$1700.00, 'Brokerage ; Intelligent'
),
(
 '07/18/2024', '07/18/2024', 'Transfer from Schwab Regular', 'Transfer', '2688', -$1500.00, 'Brokerage ; Regular'
),
(
 '07/23/2024', '07/23/2024', 'Transfer from Schwab Intelligent', 'Transfer', '2406', -$1800.00, 'Brokerage ; Intelligent'
),
(
 '07/18/2024', '07/18/2024', 'Transfer from Schwab Regular', 'Transfer', '2688', -$3999.39, 'Brokerage ; Regular'
),
(
 '07/18/2024', '07/18/2024', 'Transfer from Schwab Intelligent', 'Transfer', '2406', -$2300.00, 'Brokerage ; Intelligent'
),
(
 '07/11/2024', '07/11/2024', 'Transfer from Schwab Regular', 'Transfer', '2688', -$6000.00, 'Brokerage ; Regular'
),
(
 '07/17/2024', '07/17/2024', 'Transfer from Schwab Intelligent', 'Transfer', '2406', -$2700.00, 'Brokerage ; Intelligent'
),
(
 '07/17/2024', '07/17/2024', 'Transfer from Schwab Intelligent', 'Transfer', '2406', $500.00, 'Brokerage ; Intelligent'
),
(
 '07/09/2024', '07/09/2024', 'Transfer from Schwab Regular', 'Transfer', '2688', -$4365.00, 'Brokerage ; Regular'
),
(
 '07/03/2024', '07/03/2024', 'Transfer from Schwab Intelligent', 'Transfer', '2406', $500.00, 'Brokerage ; Intelligent'
)
GO

In [3]:
-- Delete Rows
DELETE FROM Transactions
WHERE pKey IN (4583, 4584, 4585, 4586);